@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #081b29;
    color: #ededed;
}
.boxWallet{
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    background-color: #363945;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    width: 400px;
    height: 700px;
    border-radius: 15px;
    padding: 30px 40px;
}
#logo{
    font-size: 21px;
    position: absolute;
    bottom: 0%;
    right: 1%;
}

.fa-solid.fa-circle-user{
    font-size: 40px;
    position: absolute;
    top: 1%;
    left: 1%;
    
}



.secondtext {
    position: absolute;
    top: 1%;
    left: 38%;
    text-align: center;
}

hr{
    position: absolute;
    top: 8%;
    left: 0%;
}
.divbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 40px;
    padding: 0 10%;
}
.id{
    border: #363945 solid;
}
.balance{
    position: absolute;
    top: 20%;
    left: 33%;
    display: flex;
    font-size: 70px;
    justify-content: center;
    align-items: center;
}

.myFunction{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
}

.myFunction a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 67px;
    margin: 12px;
    right: 50px;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 15px;
    font-size: 15px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}



.myFunction a:hover {
    background: #2980b9;
}

