version: '3.8'

services:
  mongo:
    image: "mongo:latest"
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"
    depends_on:
      - mongo

  payment-code-redis:
    image: "redis:latest"

  payment-request-redis:
    image: "redis:latest"

  payment-queue-redis:
    image: "redis:latest"

  payment-processor:
    build: paymentprocessor

  codeservice:
    build: codeservice
    depends_on:
      - payment-code-redis
      - payment-queue-redis
    ports:
      - "90:90"

  waiting_queue_money_transfer:
    build: WaitingQueueMoneyTransfer
    restart: always
    ports:
      - "999:999"
    depends_on:
      - payment-queue-redis

  paymentprocessor:
    build: paymentprocessor
    restart: always
    depends_on:
      - payment-queue-redis

  notificator:
    build: notificator
    ports:
      - "345:345"
    depends_on:
      -  tgbot

  db:
    build: db
    depends_on:
      - redis
      - mongo

  api:
    build: api
    ports:
      - "6000:80"
    depends_on:
      - db

  website:
    build: site
    ports:
      - "8000:80"
    depends_on:
      - api

  tgbot:
    build: bot
    ports:
      - "222:222"
    depends_on:
      - website


volumes:
  mongo-data:
  rabbitmq_data:
