@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    background-color: #363945;
    color: #ededed;
    font-family: 'Poppins', sans-serif;
}

.header{
    text-align: center;
    text-align: center;
    border: 2px solid #363945;
    width: 100%;
    height: 100px;
}

.header h1{
    font-size: 5vw;
}

.fa-solid.fa-house{
    font-size: 33px;
    position: absolute;
    top: 13px;
    left: 5px;
    color: #fff;
}

.myFunction {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    z-index: 1;
    overflow: hidden;
}


.myFunction h1{
    position: absolute;
    margin-top: 1px;
    margin-left: 130px;
    font-size: 5vw;
}

#Sent{
    position: absolute;
    font-size: 5vw;
    margin-top: 1px;
    margin-left: 165px;
}

#Received{
    position: absolute;
    font-size: 5vw;
    margin-top: 1px;
    margin-left: 145px;
}

#Error2{
    position: absolute;
    font-size: 5vw;
    margin-top: 1px;
    margin-left: 170px;
}

#Error h2{
    position: absolute;
    font-size: 4vw;
    left: -10%;
}

.myFunction h2{
    position: absolute;
    margin-top: 25px;
    margin-left: 150px;
    font-size: 5vw;
}


.myFunction i{
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.myFunction a {
    display: inline-flex;
    width: 350px;
    height: 80px;
    margin: 10px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 15px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background 0.3s;
}

.transHistory{
    position: absolute;
    margin-top: 40%;
    text-align: center;
}


@media (max-width: 375px){
    .myFunction a {
        height: 70px;
    }
}

@media (max-width: 1920px){
    .myFunction a {
        width: calc(100% - 20px);
    }
}

@media (max-width: 1503px){
    .myFunction a {
        width: calc(100% - 20px);
    }
}

@media (max-width: 1024px){
    .myFunction a {
        width: calc(50% - 20px);
    }
}


@media (max-width: 768px) {
    .myFunction a {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .myFunction a {
        width: calc(100% - 20px);
    }
}


